#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

#controls {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  z-index: 69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
